<form [formGroup]="form" (ngSubmit)="submit()" class="w-full">
  <div class="p-4 grid grid-cols-1 md:grid-cols-2 gap-4" >
    <div class="mb-3">
      <app-custom-input formControlName="name" label="Nombre Producto" />
    </div>

    <div class="mb-3">
      <app-custom-input formControlName="mainCode" label="C. Principal" />
    </div>
    <div class="mb-3">
      <app-custom-input formControlName="auxiliaryCode" label="C. Auxiliar" />
    </div>

    <div class="mb-3">
      <app-custom-input formControlName="price" [type]="'number'"  label="Precio" />
    </div>

    <div class="mb-3">
      <app-custom-input formControlName="amount"  [type]="'number'" label="Stock" />
    </div>
    <div class="mb-4">
      <app-custom-select
        formControlName="measurementUnit"
        placeholder="U. Medidda"
        [options]="listUnidades"
        [labels]="listUnidades"
      />
    </div>
 
  </div>
  <div class="flex gap-4 justify-end mt-10 md:flex-row flex-col text-center max-md:w-full">
    @if (!loading()) {
      <button
        class="items-center gap-2 bg-zinc-200 px-4 py-2 rounded-lg md:flex"
        type="button"
        (click)="client.emit(null)"
      >
        Cancelar
      </button>
      <button class="bg-secondary px-4 py-2 rounded-lg text-white" type="submit">Guardar</button>
    } @else {
      <div class="loader"></div>
    }
  </div>
</form>
